@model WebApplication.ViewModel.HomeViewModel
@{
    ViewData["Title"] = "Home Page";
    int count = 1;
}

<div class="container">
    <partial name="_Carousel" model="Model.Carousels" />
    @*or*@
    @*@await Html.PartialAsync("_Carousel", Model);*@
</div>

<hr />

<div class="container list-book">
    <div class="row">
        @foreach (Book item in Model.Books)
        {
            <div class="col-lg-4">
                <div class="container">
                    <img class="list-book-item" src="~/image/@item.Image" />
                    <p></p>
                    <h4>@item.Title</h4>
                    <p>@item.Author</p>
                    <p>@item.Description</p>
                </div>
            </div>
            if (count % 3 == 0)
            {
                @:</div>
                @:<div class="row">
            }
            count++;
        }
    </div>
</div>

